header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(124, 210, 181);
    height: 200px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#btn-nav{
    height: 40px;
    width: 90px;
}
.feature-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.divs-feature-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 400px;
    gap: 10px;
    height: 400px;
    
}
.divs-feature-header p{
    width: auto;
    max-width: 450px;
    text-align: center;

}

.img-feature-header{
    height: 250px;
    aspect-ratio: 16 /9;
    object-fit: cover;
    min-width: 260px;
}

